.form{
    margin: 0 auto;
    padding: 20px;
    width: 30%;
    border: solid 2px; color: black;
    justify-content: center;
}
.input{
    padding: 20px;
    border-radius: 5px;
    border: solid 2px;
    width: 90%;
   justify-content: center;
    
}
::-ms-input-placeholder { /* Edge 12-18 */
    color:rgb(13, 207, 207);
  }
  
  ::placeholder {
    color:rgb(13, 207, 207);
  }

.icons{
    justify-content: space-around;
}
#signup{
    text-align: center;
}
#sign{
    background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


.navbar{ 
    
    font-size: 30px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border: solid 1px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 20px;
}
.navbar a{
    text-decoration: none;
}

.landingpagebody{
    display: flex;
    background-color:white;
    justify-content: space-around;
    text-decoration:black;
    margin: 70px;
    gap: 50px;
}
.landingpagetext{
    display:block;
    font-size:30px;
    color:black;
}
#landingpageimage{
    width: 700px;
    height: 560px;
    border-radius: 15px;
    
}
.statistics{
    display: flex;
    border: solid white;
    border-radius: 20px;
    background-color:aquamarine;
    height: 180px;
    justify-content: center;
    gap: 20%;
    margin-top: 70px;
}
#features{
    display: block;
}
#featureicons{
    display: flex;
    gap: 40px;
}
#copyright{
    text-align: center;

}
.mentor{
    width: 90%;
    border-radius: 20px;
    border: solid 1px;
    justify-content: center;
    text-align: center;
    margin: 30px;
    height: 750px;
    font-size: 23px;
}


.Goals{
    /* border: solid 1px;
    background-color: aquamarine;
    width: 60%;
    margin-left: 20%;
    border-radius: 15px;
    height: 200px;
    border-color: black; */
    border: solid 1px;
    margin: 50px;
}

.To-do{
    border: solid 1px;
    align-items:center ;
    width:100% ;
    margin: 50px;
    border-radius: 20px;
}
#texts{
   /* justify-content: center;
   margin-left: 0%;
   font-size: 25px; */
}
#profilepic{
    width: 20%;
    border-radius: 30px;

}
#new-task{
    width: 60%;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
}
#add-task{
    width: 15%;
    padding: 10px;
    color: black;
    border-radius: 10px;
}
#todo-list{
    
    padding: 20px;
    background-color:white;
    color:black;
    border-radius: 10px;

   
}

.Achievements{
    border: solid 1px;
    width: 70%;
    margin-left: 10%;
    height: 600px;
    border-radius: 20px;
}
.Achieve{
    /* margin-left: 20%; */
    width: 95%;
    border-radius: 90%;
    margin: 6%;
    align-items: center;
    margin-left: 1%;
    margin-top: 1%;
   
}
#sign{
    background-color: black; 
    border: solid 1px;
    border-color: black;
    padding: 15px;
    color: white;
    text-decoration: none;
    width: 70px; 
}

#logo{
    height: 70px;
}
#last{
    text-align: center;
    color:rgb(15, 231, 231);
}
#icon{
    
    gap: 50px;
    align-items: center;
}
#Summary{
    border: solid 1px;
    background-color: white;
    margin-left: 100px;
    margin-right:100px;
    height: 500px;
    width: 90%;
    justify-content: center;
    border-radius: 20px;
    font-size: 25px;

}
#button{
    padding: 10px;
}

#signin {
    border: solid 1px;
    padding: 20px;
    text-decoration-line: none;
    border-radius: 20px;
}
#signin a{
    text-decoration: none;
}
@media screen and ( min-width:250px) and (max-width:500px){
    .form{
       padding: 20px;
        width: 90%;
        border: solid 2px; color: black;
        justify-content: center;
        
    }
    .input{
        padding: 1px;
        border-radius: 2px;
        border: solid 2px;
        width: 80%;
       justify-content: center;
        
    }
    ::-ms-input-placeholder { /* Edge 12-18 */
        color:rgb(13, 207, 207);
      }
      
      ::placeholder {
        color:rgb(13, 207, 207);
      }
    
    .icons{
        justify-content: space-around;
    }
    #signup{
        text-align: center;
    }
    #sign{
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    
    .navbar a{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        text-decoration: none;
        border-color:aqua;
        border-radius: 20px;
        background-color:aquamarine ;
        font-size: 20px; 
        align-items: center;
       
        
    }
    
    .landingpagebody{
        display: flex;
        flex-wrap: wrap;
        background-color:white;
        justify-content: space-around;
        text-decoration:black;
        margin: 10px;
        gap: 20px;
    }
    .landingpagetext{
        display:block;
        font-size:15px;
        color:black;
    }
    #landingpageimage{
        width: 400px;
        height: 200px;
        border-radius: 15px;
        
    }
    .statistics{
        display: flex;
        flex-wrap: wrap;
        border: solid white;
        border-radius: 10px;
        background-color:aquamarine;
        height: 100px;
        gap: 20px;
        /* width: 200px; */
        /* justify-content: center; */
        
    }
    #features{
        display: block;
        font-size: 10px;
        flex-wrap: wrap;
        gap: 10px;
    }
    #featureicons{
        display: flex;
        gap: 20px;
    }
    #copyright{
        text-align: center;
        
    
    }
    .mentor{
        width: 90%;
        border-radius: 20px;
        border: solid 1px;
        justify-content: center;
        text-align: center;
        margin: 20px;
        height: 500px
        
        
        
    }
    #texts{
       
        font-size: 50px;
    
    }
    .Goals{
        /* border: solid 1px;
        background-color: aquamarine;
        width: 60%;
        margin-left: 20%;
        border-radius: 15px;
        height: 200px;
        border-color: black; */
        border: solid 1px;
        margin: 50px;
    }
    
    .To-do{
        border: solid 1px;
        align-items:center ;
        width:90% ;
        margin: 10px;
        border-radius: 10px;
    }
    #texts{
       justify-content: center;
       margin-left: 0%;
       font-size: 10px;
    }
    #profilepic{
        width: 40%;
        border-radius: 30px;
    
    }
    #new-task{
        width: 60%;
        padding: 10px;
        border-radius: 20px;
        margin: 20px;
    }
    #add-task{
        width: 15%;
        padding: 10px;
        color: black;
        border-radius: 10px;
    }
    #todo-list{
        
        padding: 20px;
        background-color:white;
        color:black;
        border-radius: 10px;
    
       
    }
    
    .Achievements{
        border: solid 1px;
        width: 70%;
        /* margin-left: 30%; */
        height: 300px;
        border-radius: 20px;
    }
    .Achieve{
        /* margin-left: 20%; */
        width: 70%;
        border-radius: 90%;
        margin: 16%;
        align-items: center;
        margin-left: 15%;
        margin-top: 1%;
       
    }
    #sign{
        background-color: black; 
        border: solid 1px;
        border-color: black;
        padding: 15px;
        color: white;
        text-decoration: none;
        width: 70px; 
    }
    
    #logo{
        height: 30px;
    }
    #last{
        text-align: center;
        color:rgb(15, 231, 231);
    }
    #icon{
        
        gap: 50px;
        align-items: center;
    }
    #Summary{
        border: solid 1px;
        background-color: white;
        /* margin-left: 10%; */
        /* margin-right:100px; */
        height: 550px;
        width: 100%;
        justify-content: center;
        border-radius: 5px;
        font-size: 15px;
        
    
    }
    #button{
        padding: 10px;
    }
    #nyj{
        margin-left: 20px;
    }
    #signin {
        border: solid 1px;
        padding: 20px;
        text-decoration-line: none;
        border-radius: 20px;
    }
    #signin a{
        text-decoration: none;
    }
}
@media screen and ( min-width:500px) and (max-width:1280px){
    .form{
        margin: 0 auto;
        padding: 20px;
        width: 90%;
        border: solid 2px; color: black;
        justify-content: center;
    }
    .input{
        padding: 20px;
        border-radius: 5px;
        border: solid 2px;
        width: 90%;
       justify-content: center;
        
    }
    ::-ms-input-placeholder { /* Edge 12-18 */
        color:rgb(13, 207, 207);
      }
      
      ::placeholder {
        color:rgb(13, 207, 207);
      }
    
    .icons{
        justify-content: space-around;
    }
    #signup{
        text-align: center;
    }
    #sign{
        background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    
    .navbar{
        display:grid;
        flex-direction: column;
        justify-content: space-evenly; 
        text-decoration: none;
        border: solid 1px; 
       
        border-color:aqua;
        border-radius: 20px;
        background-color: aquamarine; 
        font-size: 18px; 
    }
    
    .landingpagebody{
        display: flex;
        flex-wrap: wrap;
        background-color:white;
        justify-content: space-around;
        text-decoration:black;
        margin: 30px;
        /* gap: 0px; */
    }
    .landingpagetext{
        display:block;
        font-size:20px;
        color:black;
    }
    #landingpageimage{
        width: 300px;
        height: 200px;
        border-radius: 15px;
        
    }
    .statistics{
        display: flex;
        border: solid white;
        border-radius: 20px;
        background-color:aquamarine;
        height: 180px;
        justify-content: center;
        gap: 20%;
    }
    #features{
        display: block;
    }
    #featureicons{
        display: flex;
        gap: 40px;
    }
    #copyright{
        text-align: center;
    
    }
    .mentor{
         width: 90%;
        border-radius: 20px;
        border: solid 1px;
        justify-content: center;
        text-align: center;
        margin: 50px;
    }
    #texts{
       
        font-size: 90px;
    
    }
    .Goals{
        /* border: solid 1px;
        background-color: aquamarine;
        width: 60%;
        margin-left: 20%;
        border-radius: 15px;
        height: 200px;
        border-color: black; */
        border: solid 1px;
        margin: 50px;
    }
    
    .To-do{
        border: solid 1px;
        align-items:center ;
        width:90% ;
        margin: 50px;
        border-radius: 20px;
    }
    #texts{
       justify-content: center;
       margin-left: 0%;
       font-size: 25px;
    }
    #profilepic{
        width: 10%;
        border-radius: 30px;
    
    }
    #new-task{
        width: 60%;
        padding: 30px;
        border-radius: 20px;
        margin: 20px;
    }
    #add-task{
        width: 15%;
        padding: 10px;
        color: black;
        border-radius: 10px;
    }
    #todo-list{
        
        padding: 20px;
        background-color:white;
        color:black;
        border-radius: 10px;
    
       
    }
    
    .Achievements{
        border: solid 1px;
        width: 70%;
        margin-left: 20%;
        height: 600px;
        border-radius: 20px;
    }
    .Achieve{
        /* margin-left: 20%; */
        width: 70%;
        border-radius: 90%;
        margin: 6%;
        align-items: center;
        margin-left: 15%;
        margin-top: 1%;
       
    }
    #sign{
        background-color: black; 
        border: solid 1px;
        border-color: black;
        padding: 15px;
        color: white;
        text-decoration: none;
        width: 70px; 
    }
    
    #logo{
        height: 90px;
    }
    #last{
        text-align: center;
        color:rgb(15, 231, 231);
    }
    #icon{
        
        gap: 50px;
        align-items: center;
    }
    #Summary{
        border: solid 1px;
        background-color: aqua;
        margin-left: 10%;
        margin-right:100px;
        height: 700px;
        justify-content: center;
        border-radius: 20px;
        font-size: 25px;
    
    }
    #button{
        padding: 10px;
    }
    #nyj{
        margin-left: 20px;
    }
    #signin {
        border: solid 1px;
        padding: 20px;
        text-decoration-line: none;
        border-radius: 20px;
    }
    #signin a{
        text-decoration: none;
    }
}